<%- include("../partials/layout-header", {title: title}) %>
  <%- include("../partials/menu") %>
    <h1>
      <%= title %>
    </h1>

    <div class="row">
      <div class="col-sm-8">

        <%- include('form', {book: book}) %>

      </div>
    </div>

<%- include("../partials/layout-footer") %>