<%- include("../partials/layout-header", {title: title}) %>
  <%- include("../partials/menu") %>
    <h1>
      <%= title %>
    </h1>

    <a class="btn btn-sm btn-primary" href="/books/create">Добавить книгу</a>

    <% if(books.length) { %>
      <table class="table table-striped table-sm mt-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Заголовок</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% books.map((el, idx)=> { %>
            <tr>
              <th scope="row">
                <%= idx + 1 %>
              </th>
              <td>
                <%= el.title %>
              </td>
              <td class="text-right">
                <a class="btn btn-sm btn-success" href="/books/<%= el.id %>">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a class="btn btn-sm btn-primary" href="/books/update/<%= el.id %>">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <form action="/books/delete/<%= el.id %>" method="POST" class="d-inline">
                  <button class="btn btn-sm btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </form>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>

      <% }else { %>
        <h3 class="mt-5">Библиотека пуста. Добавьте свою первую книгу!</h3>
      <% } %>


<%- include("../partials/layout-footer") %>