<%- include("../partials/layout-header", {title: title}) %>
  <%- include("../partials/menu") %>
    <h1>
      <%= title %>
    </h1>

    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">

            <h5 class="card-title">
              <%= book.title %>
            </h5>
            <p class="card-text">
              <%= book.description %>.
            </p>

            <div class="text-right">
              <a class="btn btn-sm btn-primary" href="/book/update/<%= book.id %>">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <form action="/book/delete/<%= book.id %>" method="POST" class="d-inline">
                <button class="btn btn-sm btn-danger">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

<%- include("../partials/layout-footer") %>